<div class="has-text-centered">
<h1 class="has-text-weight-bold">Gitlab Dependabot Example</h1>
<p class="has-text-weight-medium">This application showcase an implementation of dependabot for Gitlab</p>
<p class="tag is-danger is-light has-text-weight-medium"><strong>PS:</strong> Now the app only scans dependencies of Bundler package manager. support for other package managers are in roadmap</span></p>
</div>
<figure class="image is-4by3">
 <%= image_tag "dashboard.png" %>
</figure>

<figure class="image is-200x200">
<%= image_tag "scan_results.png" %>
</figure>