<nav class="pagination" role="navigation" aria-label="pagination">
  <a href="<%= repositories_path(:page => @pagination[:prev]) %>" class = "pagination-previous">Previous</a>
  <a href="<%= repositories_path(:page => @pagination[:next]) %>" class = "pagination-next">Next</a>
</nav>