<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>Project Pipe</title>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
</head>
<body>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/project-pipe.svg">&nbsp;Project Pipe
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <% if user_signed_in? %>
        <a class="navbar-item">
          Repositories
        </a>
        <% end %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
              <a class="button is-light" href="/me">
                Profile
              </a>
              <a class="button is-danger" href="/logout">
                Logout
              </a>
            <% else %>
              <a class="button is-success" href="/login">
                Log in with GitLab
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </section>
</body>
</html>